.footer {
    background: #000;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: #bbb;
    padding: 1.5rem;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
}

.footer-nav>a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.footer-nav>a>span {
    color: #ddd;
    font-weight: 600;
    margin-left: 0.25rem;
}

.footer-nav>a>img {
    width: 1.5rem;
    height: 1.5rem;
}

.footer-nav>a>svg {
    width: 1.5rem;
    height: 1.5rem;
}