.profile-overlay {
    position: fixed;
    min-width: 13rem;
    top: 65px;
    right: 5px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #aaa;
    padding: 0.65rem 1rem;
    box-shadow: 0 4px 4px #000;
    opacity: 1;

    animation-name: appear;
    animation-duration: 100ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes appear {
    from {
        top: 55px;
        opacity: 0;
    }
    to {
        top: 65px;
        opacity: 1;
    }
}

.profile-overlay > button {
    color: #555;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.25rem;
    border: none;
    background: none;
    margin: 0;
}

.profile-overlay > button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.profile-overlay > button:focus {
    outline: none;
}

.profile-overlay > button > img {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
}

.profile-overlay > hr {
    margin: 1rem 0;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 100%;
}

.player-profile {
    margin-top: 0.35rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.player-profile > img {
    height: 1.7rem;
    width: 1.7rem;
    margin-right: 0.5rem;
    border-radius: 100%;
}

.player-profile > img.admin-profile {
    width: auto;
    height: 1.4rem;
    margin-left: auto;
    margin-right: 0;
    border-radius: 0;
}

.player-profile > p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #000;
}